html {
	height: 100%
}

body {
	background: var(#000000);
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#333333, #000000);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#333333, #000000);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#333333, #000000);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#333333, #000000);
	/* Standard syntax (must be last) */
	background-attachment: fixed;
}

.console {
	font-family: "Lucida Console", Monaco, monospace;
}

.courier, p, span, a, etc, pre {
	font-family: "Courier New", Courier, monospace;
}

.redcolor {
	color: red;
}

.greencolor, pre {
	color: lime;
}

.cyancolor {
	color: cyan;
}

.orangecolor {
	color: #ffb300;
}

.whitecolor, p, span, etc {
	color: #C0C0C0;
}

#title {
	text-align: center;
	font-size: 5vw;
	text-shadow: 2px 2px #222222;
}

ul {
	list-style-type: square;
}

a {
	color: #00FFFF;
	border: 3px solid transparent;
	padding: 2px
}

a:hover {
	color: #00FFFF;
}

.cyanHighlight:hover {
	border: 3px solid cyan;
	text-decoration: none;
}

.clean:hover {
	text-decoration: none;
}

#console {
	font-family: courier, monospace;
	color: #fff;
	/*width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size: 2.25vmin;*/
	/*font-size: 2.3vmin;*/
}

pre {
	background-color: transparent;
	border: 0;
	/*border: 1px solid #f00;*/
}

.thumbnail {
	line-height: 0;
	background-color: black;
	border: 3px solid #777;
	border-radius: 10px;
}

.thumbnail:hover {
	border: 3px solid cyan;
}

.img-rounded {
	border-radius: 4px;
	/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;*/
}

.marginless {
	margin: 0;
}

.index-console, .index-console > *, .index-console > * > * {
	font-size: 7.4px;
	line-height: 1.1;
}

.showcase-console, .showcase-console > *, .showcase-console > * > * {
	font-size: 20px;
	line-height: 1.1;
}

.showcase-console {
	margin: 15px;
}

/* Extra small devices (phones, less than 768px) */
@media(min-width:576px){
	.index-console, .index-console > *, .index-console > * > * {
		font-size: 12px;
	}
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){
	.index-console, .index-console > *, .index-console > * > * {
		font-size: 17px;		
	}
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){
	.index-console {
		width: 970px;
	}
	.index-console, .index-console > *, .index-console > * > * {
		font-size: 20px;		
	}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
	.index-console {
		width: 1170px;
	}
	.index-console, .index-console > *, .index-console > * > * {
		font-size: 20px;		
	}
}